body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #000;
}

header,
footer {
    background-color: #151552;
    color: white;
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}