body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #000;
}

header,
footer {
    background-color: #151552;
    color: white;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #151552;
    color: white;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: 2px solid #ffb703;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}